@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


body{
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

.text-primary {
    color: #FF900E;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
/* dark 02 */
.text-gray-light{
    color: #727272;
}

/* background-color */
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color:white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}


/* header styles */

/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}
.brand{
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-left: 30px;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner reletad styles */

.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
}

.banner-image{
    width: 100%;
}
.teams{
    align-items: center;

    
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.our-feature{
    margin-left:130px;
    max-width: 530px;
}


#quick-list{
    font-weight: 500;
}
/* feature section related styles */
.feature{
    gap: 140px;
}
#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
   
}
.feature-card{
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.feature-card .feature-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
#experience-year{
    font-size: 4rem;
     font-weight: 700;

}

/* some facts related styles */

.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fact-description{
    max-width: 549px;
}

.fact-card{
    border: 1px solid salmon;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 160px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* footer style here */
.footer-text{
    background-color: rgba(255, 244, 231, 1);
    text-align: center;
    max-width: 1440px;
    margin: 0 auto;
    padding:20px;
    margin-top: 100px;
}

/* responsive media query */
@media screen and (max-width: 576px) {
    .navbar, .nav-links, .feature, .teams{
        flex-direction: column;
    }
    .team-img-container,
     .facts-container,
      .sponsor-companies {
        grid-template-columns: 1fr;
    }
    /* .team-img-container > img {
        width: 90%;
        margin: 0 auto;
    } */
    
    .feature-architect img {
        width: 100%;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
     .facts-container{
        justify-items: center;
        gap: 20px;
     }
     .sponsor-companies{
        justify-items: center;
        gap: 50px;
     }

    .our-feature {
        /* margin-left: 20px;
        margin-right: 20px; */
        margin: 0 auto;
        width: 90%;
        /* width: auto; */
        margin-top: 20px;
    } 

    .footer-text{
        padding: 0;
    }
    
}


/* madium device responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .teams, .feature{
        flex-direction: column;
    }

    .our-feature{
        margin: 50px auto;
    }

    .sponsor-companies, .facts-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
    
    
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
    .feature-architect img {
        width: 100%;
    }
}